include ./blocks.jade

+view("login", "MessageBoard")
  h2 A simple message board, similar to Reddit!
  p Test credentials: joe@gmail.com, password: foobarfoo
  +form.card
      +form-input
        input(type="email" placeholder="Email" ng-model="user.email")
      +form-input
        input(type="password" placeholder="Password" ng-model="user.password")
      +form-button("login('tabs.posts.index')") Login
  .card
    .item
        em No account?
        button.button.button-block(ui-sref="signup") Sign Up!

+view("signup", "Sign Up")
  +form
    +form-input("Email")
      input(type="email" placeholder="Email" ng-model="user.email")
    +form-input('Password')
      input(type="password" placeholder="Password" ng-model="user.password")
    +form-input('Name')
      input(type="text" placeholder="Display Name" ng-model="user.name")
    +form-input('Description')
      input(type="text" placeholder="Description..." ng-model="user.description")
    +form-input('Gender').item-select
      select(ng-model="user.gender")
        option(value="male") Male
        option(value="female") Female
        option(value="other") Other
    +form-button("signup('tabs.posts.index')") Sign Up

+tabs
  +tab('posts', 'ion-arrow-graph-up-right')
  +tab('submit', 'ion-plus')
  +tab('users', 'ion-person')
  
+view("submit", 'Submit')
  h2 Submit a new post
  p Show us something interesting!
  +form(ng-init="post = {}" ng-if="!created")
    +form-input('Title')
      input(type="text" placeholder="Short and informative." ng-model="post.title")
    +form-input('Link')
      input(type="text" placeholder="Link to content." ng-model="post.link")
    +form-button("create(post)") Post!
  p(ng-if="created") Your post, "{{created.title}}" was made!
    
+view("posts", 'Posts')
  h2 The best posts!
  +list
    +item(ng-repeat="post in data")
      a(href="{{post.link}}") {{post.title}}

+view("users","Users")
  +list
    +item(ng-repeat="user in data" ui-sref="tabs.users.detail({userId: user.id})")
      h2 {{user.name}}
      p {{user.gender}}

+view("user","{{obj.name}}")
  h2 {{obj.name}} / {{obj.gender}}
  p {{obj.description}}